@font-face {
    font-family: BitParty;
    src: url('../font/8_bit_party.ttf');
}

@font-face {
    font-family: BitOperator;
    src: url('../font/8bitoperator.ttf');
}

body {
    background-color: #14757A;
    font-family: BitParty;
}

.container {
    width: 100%;
    text-align: center;
}

.title {
    font-size: xx-large;
    text-shadow: 6px 6px 7px #000;
    color: #CBF;
    padding: 5%;
}

.gameLink {
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    margin-top: 5%;
}

.title:hover, .gamelink:hover {
    cursor: pointer;
}
