<!DOCTYPE html>
<html>
    <head>
        <meta content='width=100%, user-scalable=no, initial-scale=1.0' name='viewport' />
        <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
        <title>Unusual Dev</title>
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>
        <div class="container" id="mainContainer">
            <div class="title" id="title" onclick="goTo('/about.html');">unusual dev</div>
            <div id="games">
                <div class="gameLink" style="background-color: #575757;" onclick="goTo('/thechase/');"><img src="img/theChase.png" /></div>
                <div class="gameLink" style="background-color: #FFF;" onclick="goTo('/asciiworld/');"><img src="img/AsciiWorld.png" /></div>
                <div class="gameLink" style="background-color: #000;" onclick="goTo('/dalek/');"><img src="img/dalek_01.png" /></div>
            </div>
            <div id="loginButton" onclick="events.checkLogin()"><img src="img/login.png" /></div>
            <img src="img/loader.gif" id="loading" />
        </div>
    </body>
    <!-- inject:js -->
    <!-- endinject -->
</html>